.top-row,
.content-wrapper {
  width: 100%;
}

.top-row {
  min-height: 10px;
  background-color: grey;
  border-bottom: 1px solid black;
  padding: 10px;
}

.content-wrapper {
  min-height: 600px;
  display: flex;
}

.right-menu-column {
  max-width: 200px;
  width: 100%;
  background-color: rgb(108, 108, 108);
}

.left-content-column {
  width: 100%;
  background-color: rgb(120, 116, 116);
}
