@layer components {
  .text-shadow-1 {
    text-shadow: 0px 0px 3px black, 1px 1px 2px black;
  }

  .text-shadow-2 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 3px 3px 5px black;
  }

  .shdw {
    box-shadow: rgba(0, 0, 0, 0.42) 2px 2px 30px;
  }

  .lnk-btn {
    border: 1px solid #092d4b;
    border-top-color: rgba(255, 255, 255, 0.084);
    // border-left-color: rgba(255, 255, 255, 0.084);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(14, 3, 3, 0.1);
    padding: 3px 5px;
    // margin: 5px;
  }

  // .lnk-btn:active {
  //   box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.668) inset;
  // }

  .lnk-btn:hover {
    border-color: rgba(255, 255, 255, 0.172);
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
  }

  // body:not(.dark) .lnk-btn:hover {
  //   box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1) inset;
  //   border-color: black;
  // }

  // .floating-tooltip-2 {
  //   width: 96px;
  //   height: 80px;
  //   position: absolute;
  //   display: none;
  //   padding: 8px;
  //   box-sizing: border-box;
  //   font-size: 12px;
  //   color: #131722;
  //   background-color: rgba(255, 255, 255, 1);
  //   text-align: left;
  //   z-index: 1000;
  //   top: 12px;
  //   left: 12px;
  //   pointer-events: none;
  //   border: 1px solid rgba(0, 150, 136, 1);
  //   border-radius: 2px;
  // }


}
