// * {
//   margin: 0;
//   box-sizing: border-box;
// }

// body {
//   background-color: rgb(42, 42, 42);
// }

// #main {
//   width: 100%;
//   max-width: 1000px;
//   margin: 0 auto;
// }

.rotate-icon {
  transform: rotate(180deg);
}

.rotatable-icon {
  transition: transform 0.2s ease-in-out;
}

.navlink.active {
  color: red !important;
}