.kebab {
    color: red;
}

.main {
    width: 800px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;
    background-color: rgb(168, 168, 184);
    display: flex;
    min-height: 80vh;
}