body {
  padding: 0;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;

  font-weight: 400;
  font-size-adjust: 0.58;
  /* background-color: rgba(251, 255, 200, 0.151); */
  background: rgb(255,141,0);
  background: linear-gradient(90deg, rgba(255,141,0,1) 0%, rgba(255,218,80,1) 48%, rgba(255,188,0,1) 100%); 

  margin-bottom: 30px;

  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-moz-focus-inner {
  border: 0 !important;
}



ul{
  /* text-align: center; */
  margin: 0;
  padding: 5px;
  list-style-image: none;
  
}


header {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

header li a{
  padding: 0px 10px 1px 10px;
}

header li {
  display:inline;
  padding-bottom: 1px;
  margin: 1px;
  margin-left: 10px;
  max-height: 10px;
  /* box-shadow: 0px 2px black; */
  box-shadow: 2px 2px 1px rgb(0, 97, 161);
  background-color: rgb(173, 218, 255);
}

header li:hover {
  background-color: white;
}

header a {
  color: black;
  text-decoration-line: none;
  /* text-decoration-style: double; */
  /* text-decoration-color: rgba(9, 255, 1, 0.993); */
}

a {
  color: rgb(0, 140, 255);
}



#serversList td{
  border: 1px solid rgb(255, 153, 0);
  padding: 10px;
  min-width: 100px;
}




#playersList td{
  min-width: 100px;
}

.no-avatar{
    opacity: .5;
}

.avatar, .no-avatar{
  border-radius: 50%;
  height: 50px;
}

.no-avatar{
  margin: 0 auto;
  display: block;
  background-image: url("/no-avatar.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50px;
}



main {
  padding: 10px;
  /* display: flex;
  flex-direction: column; */
}


header, footer{
  background: rgb(0,172,255);
  background: linear-gradient(14deg, rgba(0,172,255,1) 0%, rgba(80,222,255,1) 100%);
}

p{
  margin:0;
}

main, table{
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
}


table{
  border-collapse: collapse;
  margin-bottom: 10px;
}

.jobstatstable, td{
  padding: 5px 50px;
}

tr{
  background-color: rgba(255, 166, 0, 0.329);
  border: 1px solid rgb(255, 153, 0);
}

tr:hover td{
  background-color: rgba(255, 255, 255, 0.205);
}

#playersFound td{
  padding: 10px;
}

h2 {
  margin: 0;
  padding: 10px;
}


#playerFinder {
  display: flex;
  flex-direction: column;
}

#playerFinder input{
  text-align: center;
  margin: 0  0 20px 0;
}

.btn.refresh{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.39);
  margin: 5px;
  text-transform: uppercase;
  
}
.btn.refresh:hover{
  background-color: rgba(255, 255, 255, 0.301);
  border: 1px solid white;
}

footer p {
  margin: 0 auto;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.541);
}

footer{
  /* display: flex;
  justify-content: flex-end;
  flex-direction: column; */
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: small;
  font-weight: bold;
}

/* .tooltip {
  display: none;
  position: absolute;
  background: #ffe;
  border: 1px solid #eed;
  border-radius: 4px;
  padding: 2px 4px;
  }

  :hover + .tooltip {
      display: block;
  } */