@import url("https://fonts.googleapis.com/css?family=Spartan:600&display=swap");

$color1: rgba(11, 19, 43, 1);
$color2: rgba(28, 37, 65, 1);
$color3: rgba(58, 80, 107, 1);
$color4: rgba(91, 192, 190, 1);
$color5: rgba(111, 255, 233, 1);
$headerButtonColor: rgb(0, 140, 255);
$linkCol: rgb(77, 190, 255);
$headerButtonTextColor: rgb(0, 0, 0);
$globalFontColor: rgb(29, 23, 12);


* {
    margin: 0;
    box-sizing: border-box;
}

body, .refresh{
    font-family: 'Spartan',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    color: $color5;
    text-align: center;
    background-color: $color2;
    margin-bottom: 50px;
}

a, a:active, a:visited, a:link{
    color: $linkCol;
    // color: $color4;
    // color: inherit;
    // color: black;
}

a:hover{
    color: $headerButtonColor;
}

#jobsStats, #serversStatus, #playerFinder{
    min-width: 50%;
}

#header{
    background-color: $color1;
}

#header a{
    background-color: $color2;
    padding: 2px 5px;
    text-decoration: none;
    color: $headerButtonColor;
    border-radius: 2px;
    border-bottom: 1px solid $color4;
}

h2, h3, #form{
    margin: 5px;
    padding: 5px;
    box-shadow: $color1 0 0 10px;
    background-color: $color1;
    border-radius: 5px;
}


h2, h3, #form {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

table{
    background-color: $color1;
    width: 100%;
}

#jobsStats td, #carsStats td{
    padding: 5px 50px;
}

#split{
    height: 10px;
}

.refresh {
    background-color: $color2;
    border: 0;
    color: $linkCol;
	padding: 5px;
    margin: 0;
}

.dxp {
    padding: 0;
    min-width: 120px;
}

.dxpcursor{
    cursor: pointer;
}


#header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

#header li{
    padding: 5px 5px;
}

#content{
    display: flex;
    align-content: center;
    justify-content: center;
}

td{
    padding: 3px;
}

table{
    margin: 5px 0;
    border-collapse: separate;
    border: 1px solid $color1;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
}

tr{
    border-collapse: separate;
    border: 1px solid red;
}

td{
    border-collapse: separate;
    border: 1px solid rgba(32, 121, 255, 0.205);
}

th{
    background-color: rgba(32, 121, 255, 0.205);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#content p{
    padding: 10px;
}

#form form *{
    padding: 5px 0px;
}

// #playerFinder form{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;
// }

#playerFinder #form div *{
    width: 100%;
}


#playerFinder form input, select{
    text-align: center;
    color: white;
    background-color: $color3;
    border-radius: 2px;
    border: 0;
}

#playerFinder form input{
    width: 100%;
    border: 0;
    text-align: center;
    background-color: $color3;
}

#playerFinder form input[type="button"]{
    margin-top:10px;
    background-color: $headerButtonColor;
    color: $headerButtonTextColor;
    font-weight: bold;
}

// #content {
//     // flex-direction: column;
// }


.online{
    color: white;
}

.offline{
    color: $color5;
}

.loading{
    color:grey;
}

#footer{
    position: fixed;
    bottom: 0;
    background-color: $color1;
    width: 100%;
    padding: 5px;
}

.refresh{
    border-radius: 3px;
    border-bottom: 1px solid $color4;
}

.no-avatar{
    height: 50px;
    width: 50px;
    margin: auto;
    background: url("/no-avatar.gif") no-repeat center;
    background-size: 50px 50px;
}

.avatar{
    border-radius: 50%;
    background-color: #222222;
}

// select {
//     direction: rtl;
// }

// option {
//     direction: ltr;
// }

.gold, .gold *{
    background-color: $headerButtonTextColor !important;
}

.dark, .dark *{
    background-color: $color3 !important;
}

@media(max-width:660px){
    #header ul{
        flex-direction: column;
    }
    #header a{
        display: block;
        
    }
    #header li{
        padding: 1px 0;
    }

    h2, h3 {
        width: 100%;
    }

    #jobsStats td, #carsStats td, td, tr{
        padding: 0;
        margin:0;
    }

    body{
        margin-bottom: 100px;
    }

    td,b{
        font-size: .8em;
    }

    #playerFinder .avatar, #playerFinder .no-avatar{
        display: none;
    }

    #split{
        height: 10px;
    }

    .dxp {
        min-width: 0;
    }
}